*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.dropdown{
  display: inline-block;
    padding: 15px 25px;
    width: 100%;
    background-color: blueviolet;
    position: relative;
    cursor: pointer;

}

.dropdown-content{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

.dropdown-content p{
    padding: 10px 20px;
    background-color: rgb(255, 6, 6);
}

.dropdown:hover .dropdown-content{
    display: block;
    cursor: pointer;
}