*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pagination{
    width: 100%;
    display: flex;
    gap: 10px;
}
a{
    padding: 10px 20px;
    border-radius: 8px;
    color: blue;
    background-color: greenyellow;
    text-decoration: none;
    font-weight: bold;

}