/* *
{
    margin: 0%;
    padding: 0%;
     box-sizing:border-box;
}
*/
body{
    width: 500px;
    height: 500px; 
    font-family: Arial, Helvetica, sans-serif;
}

/*p{
    text-align: center;
}

.box{
    width: 40%;
    height: 50%;
    background-color: blueviolet;
}
*/
a:hover{
color: red;
font-size: 100px;
}

a:focus{
    color: blueviolet;
    background-color: blueviolet;

}

button:focus{
    color: yellow;
    cursor: pointer;
    background-color: brown;
}

input:focus{
    color: red;
    background-color: yellow;
}

a:nth-child(2):hover{
    color: black;
}
input[type="password"]:hover{

    background-color:blue;
}
a:nth-child(2):hover{
    color: yellow;
    background-color: brown;
}


a:nth-child(1):hover

input:hover{
    background-color: blueviolet;
}

ul:first-child{
    background-color: yellow;
}

ul li:first-child{
    background-color: aqua;
}

li:nth-child(2){
    background-color: blue;
}


h1::before{
    content :"*";
    color: darkblue;
    
}

h1::after{
    content: "-";
    color: lawngreen;
}

h1::first-letter{
    color:red ;
}

p::first-line{
    background-color: aquamarine;
    color: blueviolet;
}